:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --backround-color: #f9f7fe;
  --primary-color: #00c2c2;
  --font-color: #002b4b;
}

body {
  font-family: var(--default-font-family);
  color: var(--font-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 80px;
}

h5 {
  padding-top: 20px;
}
footer {
  text-align: end;
  padding: 30px 50px;
}

nav li {
  list-style: none;
  display: inline;
  margin: 20px;
}

nav ul {
  margin: 25px;
  text-align: right;
}

nav li a {
  text-decoration: none;
}
.viktorija-picture {
  border-radius: 50%;
  width: 300px;
  padding-bottom: 30px;
}

div.skills {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.icons {
  font-size: 30px;
  margin-top: 20px;
  list-style: none;
  text-align: center;
  padding: 0%;
}

.hero-extra {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}

.hero {
  padding-top: 40px;
}

.certifications {
  text-align: center;
  background-color: var(--backround-color);
  padding-bottom: 100px;
  padding-top: 100px;
}

.container {
  background-color: var(--backround-color);
  max-width: 100%;
}

p.about {
  padding-top: 20px;
  font-size: 17px;
  padding-bottom: 20px;
}
.icon {
  display: inline;
  padding: 15px;
}

.main-button {
  background-color: var(--primary-color);
  color: white;
  transition: all 200ms ease-out;
  padding: 18px 45px;
  font-size: 15px;
  margin: 10px 0;
}

.main-button:hover {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.hello {
  font-size: 36px;
  font-weight: 700;
}

i.skills {
  list-style: none;
  font-size: 50px;
  padding: 50px;
}

h1.projects {
  background-color: var(--backround-color);
  padding: 100px;
}

.certification-button {
  border: 2px solid var(--font-color);
  margin: 20px;
  margin-top: 50px;
}
.certification-button:hover {
  text-decoration: underline;
}

.contact-body {
  display: block;
  margin: 100px auto;
  text-align: center;
  border: 1px solid var(--font-color);
  padding: 40px;
  background-color: var(--backround-color);
  border-radius: 3px;
  max-width: 700px;
}
.contact-body p {
  padding-top: 15px;
  font-size: 20px;
}

footer a {
  color: var(--font-color);
}

a {
  color: var(--font-color);
}

a:hover {
  color: var(--primary-color);
}
.row {
  --bs-gutter-x: 0;
}

.container.projects {
  background-color: white;
}

.projects h2 {
  font-family: var(--default-font-family);
}

.project-body {
  padding: 50px;
}

@media (max-width: 1100px) {
  .container {
    padding-bottom: 40px;
  }
}
@media (min-width: 1300px) {
  .skills {
    padding: 300px;
  }
}

@media (max-width: 800px) {
  .row {
    --bs-gutter-x: 0;
  }
  h1 {
    font-size: 50px;
  }

  .hero-extra.col-5 {
    width: 100%;
  }
  .hero.col-7 {
    width: 100%;
    text-align: center;
  }
  .about.col-8 {
    margin: 0 auto;
    padding: 15px 0px;
  }
  div.skills,
  div.certifications {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 410px) {
  .row {
    --bs-gutter-x: 0;
    display: block;
  }
  h1 {
    font-size: 30px;
  }
  p.about {
    font-size: 15px;
  }

  p.hello {
    font-size: 20px;
  }
  .hero-extra.col-5 {
    width: 100%;
    padding-bottom: 0px;
  }
  .hero.col-7 {
    width: 100%;
    text-align: center;
  }
  .about.col-8 {
    margin: 0 auto;

    padding: 15px 0px;
  }
  .col-4 {
    width: 100%;
  }
  nav li {
    list-style: none;
    display: inline;
    margin: 10px;
    font-size: 15px;
  }

  nav ul {
    margin: 25px;
    text-align: center;
    padding: 0;
  }

  .contact-body {
    margin-top: 50px;
  }

  .project-image {
    padding: 0;
  }
  .description {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .project-button {
    display: block;
  }
}
